* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #252525;
  --purple: #6c63ff;
  --white: #f7f7f7;
  --font-family: "Kanit", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Raleway", sans-serif;
  --font3: "Inria Serif", sans-serif;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "Kanit", sans-serif;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  color: var(--black);
}

.search__wrap {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}
.search {
  position: relative;
}

.search__input {
}
.search__input:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

/* filter search */

.filter__selected {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  line-height: 2;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 10px;
  border: 1px solid #6c63ff;
}

.filter {
  position: relative;
  /* width: 15%; */
  user-select: none;
}

.filter__list {
  position: absolute;
  top: 90%;
  left: -10px;
  width: 100%;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #6c63ff;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #03abff;
  display: none; /* скрыт по умолчанию */
  z-index: 1;
}

.filter.open .filter__list {
  display: block; /* показываем при открытии */
}

.filter__item {
  padding: 10px;
  cursor: pointer;
}

.filter__item:hover {
  background: #f0f0f0;
}
