* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #252525;
  --purple: #6c63ff;
  --white: #f7f7f7;
  --font-family: "Kanit", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Raleway", sans-serif;
  --font3: "Inria Serif", sans-serif;
  --cursor-hand: url("/img/icons/cursor_hand.png") 8 8, auto;
}

ul li {
  list-style-type: none;
}

body {
  font-family: "Kanit", sans-serif;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  color: var(--black);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 18px;
}

.search {
  position: relative;
  width: 100%;
}

.search__input {
  border: 1px solid var(--purple);
  border-radius: 5px;
  padding: 8px 16px;
  width: 100%;
  height: 38px;
  outline: none;
}
.search__input:focus {
  box-shadow: 0 2px 8px var(--purple);
}

.search__btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 16px;
  background: transparent;
  border: none;
  cursor: var(--cursor-hand);
}

.search__btn img {
  width: 21px;
  height: 21px;
}

/* header__groups */

.header__groups {
  display: flex;
  gap: 16px;
}

/* filter search */

.filter__selected {
}

.filter {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  padding-right: 43px;
  height: 38px;
  /* box-shadow: 0 0 4px 0 var(--purple); */
  background: var(--purple);
  user-select: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--white);

  cursor: var(--cursor-hand);
}
.filter:after {
  position: absolute;
  top: 19px;
  right: 9px;
  content: "";
  width: 9px;
  height: 5px;
  background: url("/img/icons/chevron-bottom.png") center center / cover;
}

.filter__list {
  position: absolute;
  top: 90%;
  left: -10px;
  width: 100%;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #6c63ff;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #03abff;
  display: none; /* скрыт по умолчанию */
  z-index: 1;
}

.filter.open .filter__list {
  display: block; /* показываем при открытии */
}

.filter__item {
  padding: 10px;
  cursor: pointer;
}

.filter__item:hover {
  background: #f0f0f0;
}

/* switch_theme */

.switch_theme {
  width: 38px;
  height: 38px;
  background: var(--purple);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--cursor-hand);
  transition: all 0.3s ease;
}
.switch_theme:hover {
  background: #5850dd;
  box-shadow: 0 0 4px 0 var(--purple);
}
